.springbeans/*
.springBeans
WebContent/META-INF/MANIFEST.MF
target/
.project
.classpath
.settings/
target/m2e-wtp/web-resources/META-INF/maven/com.my.spring.webapp/myspringwebapp/pom.properties
/.springWebflow
